%h1
  Story Wall
%hr
.story-wall
  %span.links
    Card Printer
    - @cards.each do |card|
      #printable.Card
        .number
          Number:
          = card.xpath(".//number")[0].text
        .name
          Title:
          = card.xpath(".//name")[0].text
