%h1
  Login
%hr
%form{:name => 'input', :action => 'http://127.0.0.1:4567/', :method => 'post'}
  %table
    %tr
      %td.form-label
        %label{:for => "username_id"}
          Username:
      %td
        %input#username_id{:name => 'username', :type => 'text'}
    %tr
      %td.form-label
        %label{:for => "password_id"}
          Password:
      %td
        %input#password_id{:name => 'password', :type => 'password'}
    %tr
      %td.form-label
        %label{:for => "mingle_instance_url_id"}
          Mingle Instance URL:
      %td
        %input#mingle_instance_url_id{:name => 'mingle_instance_url', :type => 'text'}
    %tr
      %td.form-label
        %label{:for => "project_name_id"}
          Project Name:
      %td
        %input#project_name_id{:name => 'project_name', :type => 'text'}
    %tr
      %td.form-label
        %label{:for => "estimate_field_id"}
          Estimate Field:
      %td
        %input#estimate_field_id{:name => 'estimate_field', :type => 'text'}
    %tr
      %td
      %td
        %input{:type => 'submit', :text => 'Go'}